html, body {
    background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
}

.game-canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 816px;
    height: 384px;
    background-color: white;        
}

.game-container canvas {
    image-rendering: pixelated;
}