html,
body {
    background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
}

.game-art {
    image-rendering: pixelated;
}

#game-container {
    background-color: white;
    position: relative;
    width: 816px;
    height: 384px;
}

#game-canvas {
    background-color: blue;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    border: 3px solid white;
}

.charactor,
#backgroundImage {
    display: none;
}

#btn_up {
    left: 8.7%;
    top: 69%;
}

#btn_down {
    left: 8.7%;
    top: 85%;
}

#btn_left {
    left: 2.5%;
    top: 77%;
}

#btn_right {
    left: 15.2%;
    top: 77%;
}

#btn_action {
    left: 80%;
    top: 85%;
}

#btn_exit {
    left: 90%;
    top: 5%;
}

.actionBtn {    
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(2px);  
    color: black;  
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    position: absolute;
    /* notSelectable text on button */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.actionBtn:not {
    margin-top: 10px;
}

.actionBtn:active {
    background-color: rgba(255,255,255,1.0);
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(4px);
}

.moveBtn {    
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    position: absolute;
    /* notSelectable text on button */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.moveBtn:active {
    background-color: #e33939;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(4px);
}

.moveBtn:not {
    margin-top: 10px;
}